.info-fumigador-container{
  padding: 4rem 1rem 0 0;
  .presentation-card{
    .header{
      display: flex;
      img{
        border-radius: 100%;
        width: 140px;
      }
      .nombre-container{
        display: flex;
        align-items: center;
        padding-top: 1rem;
        margin-bottom: .8rem;
        h1{
          font-size: 1.5rem;
          color: $negro;
          margin: 0%;
        }
        i{
          margin-left: .5rem;
          color: $primary;
          font-size: 1.5rem;
        }
      }
      .aditional-info{
        display: flex;
        flex-direction: column;
        padding-top: .2rem;
        span{
          color: $grey;
          font-size: 1rem;
        }
        .servicios-count{
          color: $secondary;
          font-weight: bold;
          font-size: 1.1rem;
        }
      }
    }
  }
  .fumigador-info-section{
    margin-bottom: 5rem;
    h1{
      font-size: 1.5rem;
      color: $secondary;
      i{
        color: $primary;
      }
    }
    p{
      margin: 0%;
      color: $negro;
      font-weight: 500;
      font-size: 1.1rem;
    }

    .accordion{
      border-top: 1px solid $grey-lighter;
      border-bottom: 1px solid $grey-lighter;
      .accordion-item{
        .accordion-header{
          .accordion-button{
            transition: all 200ms;
            background-color: transparentize($primary,.8);
            box-shadow: none;

            img{
              height: 40px;
              color: white !important;
              margin-right: .5rem;
            }
            span{
              color: $negro;
            }
          }
          .collapsed{
            background-color: whitesmoke;
          }
        }
      }
    }
  }
}

.realizar-orden-card{
  position: relative;
  .orden-card-wrapper{
    border-radius: 15px;
    box-shadow: $shadow-bottom;
    padding: 1rem;
    margin-top: 2rem;
    position: fixed;

    @include xxxl{
      width: 550px;
    }

    @include xxl{
      width: 475px;
    }

    @include xl{
      width: 400px;
    }

    @include lg{
      position: static;
      width: 100%;
      max-height: none;
    }

    #orden-tabs{
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;

      .nav-item{
        display: flex;
        .nav-link{
          border-radius: 50px;
          background-color: $negro;
          padding: .8rem 2rem;
          color: white;
          user-select: none;
          @include xl{
            padding: .8rem 1.5rem;
          }
          @include lg{
            padding: .8rem 2rem;
          }
          @include sm{
            padding: .8rem 1.5rem;
          }
          
        }
        .active{
          background-color: $primary;
        }
      }
      #pills-choose-servicios-tab{
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        margin-right: 2px;
      }
      #pills-choose-disponibilidad-tab{
        border-radius: 0;
      }
      #pills-validar-orden-tab{
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        margin-left: 2px;
      }
      
    }

    .footer-card{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .change-tab{
        color: $negro;
        font-weight: bold;
        font-size: 1.1rem;
        margin-top: 1rem;
        cursor: pointer;
      }
      .verOrdenDisponibilidad{
        flex: 1;
        text-align: right;
      }
    }

    .tab-content{
      max-height: 70vh;
      overflow-y: auto;
    }
  }

  // Servicios Content
  #pills-choose-servicios{
    .servicio-label{
      color: $negro;
      font-weight: bold;
      font-size: 1.1rem;
    }
    .select2-container{
      width: 100% !important;
      .select2-selection__rendered{
        height: 56px;
        display: flex;
        align-items: center;
      }
      .select2-selection{
        height: 56px;
        display: flex;
        align-items: center;
      }
      .select2-selection__arrow{
        display: none;
      }
    }
    .available-services-label{
      display: none;
      color: $negro;
      font-weight: bold;
      font-size: 1.1rem;
    }
    .available-services-list{
      padding: 0%;
      margin: 0%;
      list-style-type: none;

      .available-services-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .available-service-info{
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 40px;
          }
          i{
            margin: 0% .2rem;
            font-size: 1.2rem;
          }
        }
        .available-service-actions{
          display: flex;
          flex-wrap: nowrap;
          i{
            padding: .5rem;
            color: white;
            border-radius: 5px;
            transition: all 200ms;
            cursor: pointer;
            user-select: none;
          }
          i:first-child{
            background-color: $info;
            margin-right: .2rem;
          }
          i:last-child{
            background-color: $primary;
            border: 1px solid $primary;
            &:hover{
              background-color: transparent;
              color: $primary;
            }
          }
        }
      }

      .no-available-services{
        color: $grey;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  // Disponibilidad Content
  #pills-choose-disponibilidad{
    .datetimepicker-container{
      position: relative;
      display: flex;
      align-items: center;
      input{
        padding-right: 2rem;
      }
      i{
        position: absolute;
        top: 0%;
        right: 0%;
        color: white;
        background-color: $primary;
        font-size: 1.2rem;
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        padding: 19.5px 1.5rem;
      }
      .fa-clock{
        padding: 19.5px 1.45rem;
      }
    }
  }

  // Ordenar Content
  #pills-validar-orden{
    .details{
      .extra-info{
        i{
          display: none;
        }
      }
    }
    .date-orden-selected-container{
      font-weight: bold;
      color: $primary;
      font-size: 1.2rem;
      .date-orden-selected{
        color: $negro;
        font-weight: 500;
      }
    }

    .total-container{
      font-size: 1.2rem;
      font-weight: bold;
      .total{
        color: $primary;
      }
      .monto{
        color: $primary;
      }
    }
    .pagarOrden{
      background-color: $primary;
      border-radius: 5px;
      padding: .5rem 1rem;
      color: white;
    }
  }
}

// Detalles de la orden Submenu
.orden-details-submenu{
  display: none;
  position: absolute;
  transition: all 500ms;
  bottom: 10px;

  .orden-submenu-btn{
    display: flex;
    align-items: center;
    background-color: $info;
    color: white;
    border-radius: 8px;
    padding: .6rem 1rem;
    font-weight: 500;
    border: 2px solid $info;
    transition: all 200ms;
    &:hover{
      background-color: white;
      color: $info;
    }

    i{
      font-size: 1.5rem;
      margin-left: .4rem;
    }
  }
}

.icon-submenu{
  .orden-submenu-btn{
    border-radius: 100%;
    padding: .7rem 1rem;
  }
  i{
    font-size: 2rem !important;
    margin: 0% !important;
  }
}

// Modal de los detalles de la orden
#ordenDetailsModal{
  .modal-header{
    background-color: $negro;
    .modal-title{
      display: flex;
      align-items: center;
      font-size: 1.6rem !important;
      color: $grey-lighter;
      i{
        font-size: 2rem;
        margin-left: .5rem;
        color: $grey-light;
      }
    }
  }

  // Acordion
  #ordenDetailsAccordion{
    .accordion-item{
      .accordion-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $grey-lighter;
        box-shadow: none;
        &:hover{
          background-color: $grey-lighter;
        }
        &::after{
          display: none;
        }
        .servicio-icons{
          display: flex;
          align-items: center;
          i{
            font-size: 2rem;
            color: $negro;
          }
          img{
            height: 50px;
          }
        }

        .servicio-actions{
          .monto{
            font-weight: bold;
            font-size: 1.6rem;
            color: $negro;
          }
          i{
            font-size: 1.2rem;
            padding: .5rem;
            background-color: $primary;
            color: white;
            border-radius: 5px;
          }
        }

      }
      .collapsed{
        background-color: white;
      }

      .accordion-body{
        b{
          color: $primary;
        }
      }
    }

  }
  .orden-details-monto-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $negro;
    color: white;
    padding: .5rem 1.5rem;

    span{
      font-weight: bold;
    }
    b{
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}