#registrarFumigador-form{
  .select2-container{
    width: 100% !important;
    border-color: $grey-light;
    .select2-selection__rendered{
      height: 56px;
      display: flex;
      align-items: center;
      border-color: $grey-light;
    }
    .select2-selection{
      height: 56px;
      display: flex;
      align-items: center;
      border-color: $grey-light;
    }
    .select2-selection__arrow{
      display: none;
    }
  }
  .regFumig-map-wrapper{
    display: none;
    #registrarFumigador-map{
      height: 290px;
      width: 100%;
    }
  }

  .dias-laborables-container{
    padding-right: 0px !important;
  }

  i{
    color: var(--bs-primary);
  }

}