body {
  margin: 0%;
  padding: 0%;
  position: relative;
  background-color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (max-width: 991px) {
  body {
    padding-bottom: 80px;
  }
}
body a {
  text-decoration: none;
  color: black;
}
body button {
  border: none;
  background-color: transparent;
}
body .badge {
  cursor: pointer;
}
body .form-control {
  box-shadow: none !important;
}
body .form-control:focus {
  border-color: #a6a6a6;
}
body .dropdown-menu {
  border: none !important;
}

.app-header {
  position: fixed;
  height: 70px;
  width: 100vw;
  top: 0%;
  background-color: whitesmoke;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.246);
}
.app-header .header-menu {
  height: 70px;
}
.app-header .header-menu .header-logo {
  height: 65px;
}
.app-header .header-menu .dropdown-toggle::before {
  display: none !important;
}
.app-header .header-menu .dropdown-toggle::after {
  display: none !important;
}
.app-header .header-menu #servicios {
  border-radius: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.app-header .header-menu #searchHeaderPlaceField {
  border-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-right: 102px;
}
@media screen and (max-width: 991px) {
  .app-header .header-menu #searchHeaderPlaceField {
    padding-right: 60px;
  }
}
.app-header .header-menu .btn-buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  padding: 0.8rem;
  background-color: #DC3545;
  border-radius: 50px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 0.8rem;
  transition: all 200ms;
}
.app-header .header-menu .btn-buscar span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-header .header-menu .btn-buscar i {
  font-size: 1.5rem;
  font-weight: bold;
}
.app-header .header-menu .btn-buscar:hover {
  background-color: #d32535;
}
.app-header .header-menu .map-dropdown-menu {
  width: 100%;
  padding: 0%;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body {
  position: relative;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .map-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999 !important;
  border-radius: 100%;
  background-color: white;
  color: grey;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.246);
  cursor: pointer;
  transition: all 200ms;
  padding: 0.4rem 0.6rem;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .map-btn:hover {
  color: #DC3545;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .map-btn i {
  font-size: 1.7rem;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .back-map-btn {
  left: 10px;
  top: 10px;
  color: #DC3545;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .back-map-btn:hover {
  background-color: #DC3545;
  color: whitesmoke;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .close-map-btn {
  top: 10px;
  right: 10px;
  padding: 0.4rem 0.7rem;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .close-map-btn i {
  font-size: 1.7rem;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .user-location-btn {
  right: 10px;
  bottom: 305px;
  padding: 0.5rem;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .header-map {
  width: 100%;
  height: 300px;
  z-index: 1 !important;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .header-map .gm-style-mtc-bbw {
  display: none;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .header-map .gm-control-active, .app-header .header-menu .map-dropdown-menu .map-dropdown-body .header-map .gm-fullscreen-control {
  display: none;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .header-map .gm-svpc {
  display: none;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .aditional-options {
  padding: 0.5rem 1rem;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .aditional-options .aditional-title {
  font-size: 1.2rem;
  color: #343a40;
  font-weight: bold;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .aditional-options .aditional-sheet {
  font-size: 3rem;
  color: #343a40;
  margin-right: 0.5rem;
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .aditional-options .confirm-address {
  width: 100% !important;
  background-color: #DC3545;
  border-radius: 15px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.9rem;
  text-align: center;
  transition: all 200ms;
}
@media screen and (max-width: 767px) {
  .app-header .header-menu .map-dropdown-menu .map-dropdown-body .aditional-options .confirm-address {
    font-size: 1rem;
  }
}
.app-header .header-menu .map-dropdown-menu .map-dropdown-body .aditional-options .confirm-address:hover {
  background-color: #e04b59;
}
.app-header .header-menu .alerts-dropdown-menu {
  max-height: 70vh;
  width: 500px;
  overflow: auto;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.246);
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-header .alerts-title {
  color: #343a40;
  font-size: 1.5rem;
  font-weight: bold;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-header .close-alerts {
  color: whitesmoke;
  background-color: #DC3545;
  border-radius: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #DC3545;
  cursor: pointer;
  transition: all 200ms;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-header .close-alerts:hover {
  background-color: transparent;
  color: #DC3545;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-body {
  padding: 0%;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-body .alert-item {
  display: flex;
  align-items: flex-start;
  padding: 0 1rem;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-body .alert-item img {
  height: 100px;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-body .alert-item .alert-item-content .alert-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  color: #343a40;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-body .alert-item .alert-item-content .alert-item-title .title {
  font-weight: bold;
  font-size: 1.2rem;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-body .alert-item .alert-item-content .alert-item-title .date {
  font-size: 1.2rem;
}
.app-header .header-menu .alerts-dropdown-menu .alerts-dropdown-body .alert-item .alert-item-content .alert-item-text {
  font-size: 0.95rem;
}
.app-header .header-menu .profile-dropdown-menu {
  padding: 0%;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.246);
  overflow: hidden;
}
.app-header .header-menu .profile-dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  transition: all 200ms;
  color: #343a40;
}
.app-header .header-menu .profile-dropdown-menu .dropdown-item:hover {
  background-color: #343a40;
  color: whitesmoke;
}
.app-header .header-menu .profile-dropdown-menu .dropdown-item:hover i {
  color: whitesmoke;
}
.app-header .header-menu .profile-dropdown-menu .dropdown-item i {
  font-size: 1.2rem;
  color: grey;
}
.app-header .header-menu .profile-dropdown-menu .active {
  background-color: #DC3545;
  color: whitesmoke;
  font-weight: bold;
}
.app-header .header-menu .profile-dropdown-menu .active i {
  background-color: #DC3545;
  color: whitesmoke;
}
.app-header .header-menu .profile-dropdown-menu .active:hover {
  background-color: #e4606d;
  color: whitesmoke;
}
.app-header .header-menu .header-actions-container .header-buttons .ofrecerServicios-header-btn {
  margin-right: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.app-header .header-menu .header-actions-container .header-buttons .action-btn i {
  padding: 0.7rem 0.8rem;
  background-color: #e6e6e6;
  color: grey;
  border-radius: 100%;
  font-size: 1.5rem;
}
.app-header .header-menu .header-actions-container .header-buttons .action-btn i:hover {
  color: whitesmoke;
  background-color: #DC3545;
  transition: all 200ms;
}
.app-header .header-menu .header-actions-container .header-buttons .active i {
  background-color: #DC3545;
  color: whitesmoke;
}
.app-header .header-menu .header-actions-container .header-buttons .active i:hover {
  background-color: #e4606d;
  color: whitesmoke;
}
.app-header .header-menu .header-actions-container .header-profile-container {
  display: flex;
  align-items: center;
}
.app-header .header-menu .header-actions-container .header-profile-container .header-profile {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid #cdcdcd;
  border-radius: 50px;
  padding: 7px 10px;
  transition: all 200ms;
  user-select: none;
  height: 46px;
  max-height: 46px;
}
.app-header .header-menu .header-actions-container .header-profile-container .header-profile:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.246);
}
.app-header .header-menu .header-actions-container .header-profile-container .header-profile .header-avatar {
  height: 30px;
  max-height: 30px;
  border-radius: 100%;
}
.app-header .header-menu .header-actions-container .header-profile-container .header-profile .header-user-name {
  color: #343a40;
  font-weight: 600;
}

.footer-tabs {
  height: 80px;
  display: flex;
  position: fixed;
  bottom: 0%;
  padding: 0%;
  margin: 0%;
  background-color: whitesmoke;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.246);
}
.footer-tabs .tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #343a40;
  flex: 1;
  padding: 1rem;
  transition: all 400ms;
  user-select: none;
  cursor: pointer;
}
.footer-tabs .tab-item:hover {
  background-color: #DC3545;
  color: whitesmoke;
}
.footer-tabs .tab-item:hover i {
  color: whitesmoke;
}
.footer-tabs .tab-item i {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  color: grey;
}
.footer-tabs .active {
  background-color: #DC3545;
  color: whitesmoke;
}
.footer-tabs .active i {
  color: whitesmoke;
}
.footer-tabs .active:hover {
  background-color: #e4606d;
  color: whitesmoke;
}

main {
  min-height: calc(100vh - 95px);
  margin-top: 70px;
}

.pac-container {
  transform: translateY(-65px);
  border-radius: 10px;
}
.pac-container .pac-item {
  cursor: pointer;
  transition: all 200ms;
}
.pac-container .pac-item:hover {
  background-color: #343a40;
  color: whitesmoke;
}
.pac-container .pac-item:hover .pac-item-query {
  color: whitesmoke;
}

#map {
  min-width: 20px;
  min-height: 20px;
}

.autocomplete-container {
  border: 1px #d9d9d9 solid;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.autocomplete-container select {
  border: none !important;
  box-shadow: none !important;
}
.autocomplete-container .selection {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.autocomplete-container .select2-selection {
  height: 60px;
  position: relative;
  padding: 12px;
  padding-right: 0px;
  border: none !important;
  max-height: 56px !important;
  overflow-y: auto !important;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.autocomplete-container .select2-search {
  display: inline-block;
  width: 160px;
}

.select2-results__option--highlighted {
  background-color: #343a40 !important;
}

.select2-selection__choice {
  background-color: #343a40 !important;
  border-radius: 50px !important;
  font-size: 0.8rem;
  color: white;
}
.select2-selection__choice button {
  transition: all 200ms;
}

.custom-tooltip-primary {
  font-weight: bold;
  --bs-tooltip-bg: var(--bs-red);
  --bs-tooltip-color: var(--bs-white);
}

.custom-tooltip-dark {
  font-weight: bold;
  --bs-tooltip-bg: var(--bs-gray-dark);
  --bs-tooltip-color: var(--bs-white);
}

.notfound-container {
  height: 100vh;
}
.notfound-container h1 {
  color: #343a40;
}
.notfound-container h1 b {
  color: #DC3545;
}
.notfound-container p {
  color: grey;
}

/*# sourceMappingURL=index.css.map */
