// Input with dropdown
.autocomplete-container{
  select{
    border: none !important;
    box-shadow: none !important;
  }
  .selection{
    border-radius: 50px;
  }
  .select2-selection{
    position: relative;
    padding: 12px;
    padding-right: 0px;
    border: none !important;
    max-height: 56px !important;
    overflow-y: auto !important;
  }
  .select2-search{
    display: inline-block;
    width: 160px;
  }
}